<!DOCTYPE html>
<html>
<head>
    <title>Encryption</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Encryption</h1>
    <button onclick="generateKeys()">Generate Key Pair</button>
    <div id="keyPair"></div>

    <label for="message">Message:</label><br>
    <textarea id="message" rows="4" cols="50"></textarea><br><br>

    <button onclick="encryptMessage()">Encrypt</button>
    <div id="encryptionResult"></div>
    <script src="/static/script.js"></script>
</body>
</html>